input{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
select{
    border: none!important;
}
label{
    font-size: 16px!important;
}
.span_tit{
    width: 100%;height: 25px;font-size: 18px;line-height:25px;padding: 0 10px;display: inline-block;text-align: center;color: #000;margin: 10px 0
}
.span_lit_tit{
    width: 100%;height: 50px;font-size: 17px;line-height:50px;padding: 0 10px;display: inline-block;background-color: #efeff4;color: #000;margin: 10px 0
}
.label_margin{
    display: inline-block;margin-left: 20px
}
.label_margin2{
    display: inline-block;margin-left: 19px
}
.txtarea{
    border-radius: 5px!important;margin-left: 20px!important;width: 92%!important;font-size: 14px
}
.btn_up{
    width: 100%;border-radius: 5px;color: white;border: solid 1px #09bb07;background-color: #09bb07;
}